Source: scandump
Section: net
Priority: optional
Maintainer: Adrian Granados <adrian@intuitibits.com>
Build-Depends:
  debhelper-compat (= 12),
  libnl-3-dev (>= 3.2.3-2~),
  libnl-genl-3-dev (>= 3.2.3-2~),
  libpcap-dev
Rules-Requires-Root: no

Package: scandump
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A command line utility that scans for wireless networks 
 using the 802.11 netlink API and outputs the scan results in PCAP format.
